<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Météo par communes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let city of cities" (click)="itemTapped($event, city)">
    <ion-card-header>
      <!--ion-icon name="{{ city.icon }}" item-left></ion-icon-->
      <div class="bg-grey">
        <span>{{ city.title }}</span>   
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="item-note" item-right>
        <dl>
            <dt>Aujourd'hui {{city.temperature}}°c</dt>
            <dd class="{{city.icon}}"></dd>
          </dl>
      </div>
      <br />
      <ion-row>
        <div *ngFor="let forecast of city.forecasts; let i=index">
          <ion-col *ngIf="i<3">
            <ion-badge item-right>
              <div>
                <!--ion-icon name="{{ forecast.icon }}" item-left></ion-icon-->
                <dl>
                  <dt>{{ forecast.day }}</dt>
                  <dd class="{{forecast.icon}}"></dd>
                  <dt>{{ forecast.time }}</dt>
                </dl>
              </div>
            </ion-badge>
          </ion-col>
        </div>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>